@{
    Layout = "_Layout";
}

@model PokemonDb.Models.Pokemon

<h1>Add a new Pokemon to your Pokedex!</h1>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.PokemonName)
    @Html.TextBoxFor(model => model.PokemonName)

    <br>

    @Html.Label("Select Pokemon type")
    @Html.DropDownList("PokeTypeId")

    <br>

    @Html.LabelFor(model => model.PokemonGender)
    @Html.TextBoxFor(model => model.PokemonGender)

    <br>

    @Html.LabelFor(model => model.PokemonDescription)
    @Html.TextBoxFor(model => model.PokemonDescription)

    <br>
    <hr />

    <input type="submit" value="Add new Pokemon" class="btn btn-primary" />
}

<h4>@Html.ActionLink("Show All Pokemon", "Index")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>